<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/7jyx05cmguqssdz/Snapchat-SC.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.GroupsApp.SnapchatSC</string>
				<key>bundle-version</key>
				<string>10.7.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Snapchat-10.7.2 SC-1.0.3-5 GroupsApp 2017</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
